{% extends 'base.html' %}

{% block title %}sign up{% endblock %}

{% block content %}
<div class="signup">
    <h2>sign up</h2>
    <p>&emsp;creating an account allows you to keep track of what critters you have caught and provides access to other useful hints to help you catch them all!</p>
    <form method="post">
    {% csrf_token %}
        <p>
            <label for="id_username">username:</label> <br>
            <input type="text" name="username" maxlength="150" autofocus required id="id_username" pattern=".{4,50}"><br>
            <span class="helptext">150 characters or fewer. letters, digits and @/./+/-/_ only.</span>
        </p>

        <p>
            <label for="id_password1">password:</label><br>
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1"><br>
            <span class="helptext">
                <ul>
                    <li>your password can’t be too similar to your other personal information.</li>
                    <li>your password must contain at least 8 characters.</li>
                    <li>your password can’t be a commonly used password.</li>
                    <li>your password can’t be entirely numeric.</li>
                </ul>
            </span>
        </p>

        <p>
            <label for="id_password2">confirm password:</label><br>
            <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
        </p>

        <button class="signup-btn" type="submit">sign up</button>
    </form>

    <p>already have an account? <a href="{% url 'login' %}">log in</a> here</p>
</div>
{% endblock %}