
/* --------mobile------------- */

body {
    /* background-color: rgb(243, 237, 211); */
    background: url("https://pbs.twimg.com/media/EPngkecWAAAI16e.jpg");
    padding: 0;
    margin: 0;
    min-height: 100vh;
    
}

main {
    
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0px 0px 10px 0px;
    background-color: rgb(255, 255, 255, 0.7);
}

h1 {
    margin: 0;
    padding: 1em;
}

a {
    text-decoration: none;
}
label {
    font-size: 20px;
}

ul, .helptext {
    color: rgb(150, 147, 147);
}


.header {
    text-align: center;
}

.link-container {
    padding-left: 2em;
}

.button-container {
    margin: 10px 10px 0px 10px;
    top: 0;
    position: sticky;
    
}

.fish-button, .bug-button, .sea-button {
    width: 115.5px;
    height: 60px;
    box-shadow: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid black;
    border-bottom: 0;
    font-size: 20px;
}

.fish-container, .bugs-container, .sea-container {
    border: 2px solid black;
    border-top: 0;
    
    margin: 0px 10px 0px 10px;
    padding: 10px;
    height: 490px;
    overflow: scroll;
    
}

.sea-button {
    padding: 0;
}

.fish-container, .fish-button {
    background-color: rgb(174, 200, 221);
}

.bugs-container, .bug-button {
    background-color: rgb(190, 207, 190);
}

.sea-container, .sea-button {
    background-color: rgb(187, 221, 217);
}

.fish-card, .bug-card, .sea-card {
    border: 2px solid black;
    text-align: center;
    /* width: 130px; */
    margin: 10px;
}

/* .fish-icon, .bug-icon, .sea-icon {
    text-align: center;
    display: flex;
} */

.fish-card-expanded, .bug-card-expanded, .sea-card-expanded {
    border: 2px solid black;
    text-align: center;
    /* width: 130px; */
    margin: 10px;
    background-color: violet;
}


h2 {
    text-align: center;
}

.login, .signup {
    margin: 0 2em 2em 2em;
}

.login-btn, .signup-btn {
    width: 100%;
    height: 30px;
}