{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="link-container">
    hi {{ user.username }}  &#8226;
    <a href="{% url 'home' %}">home</a>  &#8226;
    <a href="{% url 'logout' %}">log out</a>
</div>
<div class="friend-container">
    <h2>friends</h2>
    <div class="friend-options">
        <label for="friend-options">what do you want to do?</label>
        <select name="friend-options" v-model="select">
            <option value="add">add a friend</option>
            <option value="requests">check friend requests</option>
            <option value="list">see all friends</option>
            <option value="compare">compare with a friend</option>
        </select>
    </div>
    <hr>
    <div class="friend-options-container">
        <div class="add" v-if="select === 'add'">
            <label for="username">add friend: </label>
            <div class="add-friend-input">
                <input  type="text" name="username" v-model="username" @keyup.enter="friendRequest(username)"/>
            </div>
            <button @click="friendRequest(username)">send request</button>
        </div>
        <div class="requests" v-if="select === 'requests'">
            <div v-if="currentUser.inbound_friend_requests">
                <div v-if="currentUser.inbound_friend_requests.length === 0">
                    <p>you have no friend requests at this time</p>
                </div>
                <div v-else>
                    <p>wanna be friends with ...</p>
                    <div class="friend-request" v-for="friend in currentUser.inbound_friend_requests_details">
                        <p>[[ friend.username ]]</p>
                        <button @click="acceptFriend(friend.id)">yes please</button>
                        <button @click="denyFriend(friend.id)">no thanks</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list" v-if="select === 'list'">
            <div v-if="currentUser.friends.length === 0">
                <p>your friends list is empty</p>
            </div>
            <div v-else>
                <div class="friend-list" v-for="friend in currentUser.friends_details">
                    <span class="friend-list-name">[[ friend.username ]]</span>
                    <button class="unfriend-btn" @click="unfriend(friend.id)">unfriend</button>
                </div>
            </div>
        </div>
        <div class="compare" v-if="select === 'compare'">
            <div v-if="currentUser.friends.length === 0">
                <p>you need to add at least one friend before trying to compare</p>
            </div>
            <div v-else>
                <friend-card
                    v-if="currentUser"
                    :currentuser="currentUser"
                ></friend-card>
            </div>
        </div>
    </div>
</div>
{% else %}
<a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">sign up</a>
{% endif %}
{% endblock %}